

<body>

   

    <section id="about-us">
        <div class="container">
			
			
			<!-- about us slider -->

			
			
			<!-- Our Skill -->
			
			

			<!-- our-team -->
			<div class="team">
				<div class="center wow fadeInDown">
					<h2>Team of KodoKyojin</h2>
				
				</div>

				<div class="row clearfix">
					<div class="col-md-4 col-sm-6">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><%= image_tag("5.jpg", :alt => "", :class => "media-object" ) %></a>
								</div>
								<div class="media-body">
									<h4>Ahmed Etefy</h4>
									<%user8 = User.find(5)%>
									 <%= link_to "View Profile" , user_path(user8)%> 
								
								</div>
							</div><!--/.media -->
						</div>
					</div><!--/.col-lg-4 -->
					
					
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><%= image_tag("9.jpg", :alt => "", :class => "media-object" ) %></a>
								</div>
								<div class="media-body">
									<h4>Ahmed Ayman</h4>
									<%user8 = User.find(9)%>
									 <%= link_to "View Profile" , user_path(user8)%> 								
								</div>
							</div><!--/.media -->
						</div>
					</div><!--/.col-lg-4 -->					
				</div> <!--/.row -->
				<div class="row team-bar">
					<div class="first-one-arrow hidden-xs">
						<hr>
					</div>
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
				</div> <!--skill_border-->       

				<div class="row clearfix">   
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><%= image_tag("2.jpg", :alt => "", :class => "media-object" ) %></a>
								</div>

								<div class="media-body">
									<h4>Aly Yakan</h4>
									<%user8 = User.find(2)%>
									 <%= link_to "View Profile" , user_path(user8)%> 
								
								</div>
							</div><!--/.media -->
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-md-offset-2">
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><%= image_tag("4.jpg", :alt => "", :class => "media-object" ) %></a>
								</div>
								<div class="media-body">
									<h4>Kareem Tarek</h4>
									<%user8 = User.find(4)%>
									 <%= link_to "View Profile" , user_path(user8)%> 
								
								</div>
							</div><!--/.media -->
						</div>
					</div>
				</div>	<!--/.row-->
				<div class="row team-bar">
					<div class="first-one-arrow hidden-xs">
						<hr>
					</div>
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
				</div> <!--skill_border-->   

				<div class="row clearfix">
					<div class="col-md-4 col-sm-6">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><%= image_tag("7.jpg", :alt => "", :class => "media-object" ) %></a>
								</div>
								<div class="media-body">
									<h4>Mina Zeidan</h4>
									<%user8 = User.find(7)%>
									 <%= link_to "View Profile" , user_path(user8)%> 
								
								</div>
							</div><!--/.media -->
							
						</div>
					</div><!--/.col-lg-4 -->
					
					
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><%= image_tag("6.jpg", :alt => "", :class => "media-object" ) %></a>
								</div>
								<div class="media-body">
									<h4>Mohammed Mudda</h4>
									<%user8 = User.find(6)%>
									 <%= link_to "View Profile" , user_path(user8)%> 
									
								</div>
							</div><!--/.media -->
							
						</div>
					</div><!--/.col-lg-4 -->					
				</div> <!--/.row -->
				<div class="row team-bar">
					<div class="first-one-arrow hidden-xs">
						<hr>
					</div>
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
				</div> <!--skill_border-->       

				<div class="row clearfix">   
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><%= image_tag("1.jpg", :alt => "", :class => "media-object" ) %></a>

								</div>

								<div class="media-body">
									<h4>Moustafa Mahmoud</h4>
									<%user8 = User.find(1)%>
									 <%= link_to "View Profile" , user_path(user8)%> 
									
								</div>
							</div><!--/.media -->
							
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-md-offset-2">
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><%= image_tag("3.JPG", :alt => "", :class => "media-object" ) %></a>
								</div>
								<div class="media-body">
									<h4>Rana El-Garem</h4>
									<%user8 = User.find(3)%>
									 <%= link_to "View Profile" , user_path(user8)%> 
								
								</div>
							</div><!--/.media -->
							
						</div>
					</div>
				</div>	<!--/.row-->
						<div class="row team-bar">
					<div class="first-one-arrow hidden-xs">
						<hr>
					</div>
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
				</div> <!--skill_border--> 
					<div class="row clearfix">   
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><%= image_tag("8.jpg", :alt => "", :class => "media-object" ) %></a>

								</div>

								<div class="media-body">
									<h4>Yasser Abouel-Saad</h4>
									<%user8 = User.find(8)%>
									 <%= link_to "View Profile" , user_path(user8)%> 
									
								</div>
							</div><!--/.media -->
							
						</div>
					</div>
					
				</div>	<!--/.row-->



			</div><!--section-->
		</div><!--/.container-->
    </section><!--/about-us-->
	
    
</body>
</html>